:root {
    --bg-header-color: #fff;
    --text-section-footer-color: #fff;
    --bg-color: #F5F5F5;
    --bg-screan-footer-color: #2F303A;
    --focus-color: #2196F3;
    --accent-color: #2196F3;
    --o-nas-color: #757575;
    --title-text-color: #212121;
    --comands-color: #F5F4FA;
    --logo-studia-color: #000;
}
/* Загальні стилі для сторінки */
body {
    font-family: 'Roboto' , sans-serif ;
    background-color: var(--bg-header-color);
    font-size: 14px;
}
.header {
    background-color: var(--bg-header-color);
}
.accent:hover, .accent:focus {
    color: var(--focus-color);
}
a, ul {
    list-style-type: none;
    text-decoration: none;
}
/* логотип */
.logo {
    font-family: 'Raleway'; 
    line-height: 1.19;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--logo-studia-color);   
}
.web {
    color: var(--focus-color);
}
.portfolio {
    accent-color: var(--accent-color);
}
.navig {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.curent {
    color: var(--accent-color)
}
/* телефон та мейл */
.info-act {
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--o-nas-color);
}
/* Секція 1 інтерактивна  */

 .your-bussines {
    background: var(--bg-screan-footer-color);
}
/* заголовок секції 1 */
.titl {
    color: var(--text-section-footer-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* кнопка */
.servis {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--focus-color);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--bg-header-color);
} 
/* всі заголовки */
.titles {
    font-weight: 700;
    height: 42px;  
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* секція 2 */
 .titl-features {
     font-weight: 700;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--title-text-color)
 }
 .par-features {
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: var(--o-nas-color);
 }
 /* Наша команда */
 .section-commands {
     background-color: var(--comands-color);
 }

 .name-comands {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.18;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--title-text-color)
 }
 .work-name {
     font-size: 16px;
     line-height: 1.18;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--o-nas-color)
 }
.color-block-comands {
    background-color: var(--bg-header-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
 /* підвал головна сторінка */
 .footer {
     background: var(--bg-screan-footer-color);
 }
/* лого підвал */
.logof {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    color: var(--text-section-footer-color);
}
.address {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--bg-header-color);
}
 .number {
     line-height: 1.71;
     letter-spacing: 0.03em;
 }
 .mailto {
     font-style: normal;
     color: rgba(255, 255, 255, 0.6);
 }

 .tel {
     font-style: normal;
     color: rgba(255, 255, 255, 0.6);
 }

/* Кнопки в портфоліо */
.but {
    background-color: var(--comands-color);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.but:hover,
.but:focus {
    background-color: var(--focus-color);
    color: var(--bg-header-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
 /* картки в портфоліо */
 .cards-name {
     font-weight: 700;
     font-size: 18px;
     line-height: 2.0; 
     letter-spacing: 0.06em;
     color: var(--title-text-color);
 }

 .parag-cards {
     font-size: 16px;
     line-height: 1.88;
     letter-spacing: 0.03em;
     color: var(--o-nas-color);
 }
 .container-bg {
    background: var(--text-section-footer-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
 }
  /* підвал портфоліо */
.footerport {
      background: var(--bg-screan-footer-color);
  }