@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* :root {
    --animation-name:green
} */
header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    font-size: 26px;
    letter-spacing: 0.03em;
    position: absolute;
    height: 31px;
    left: 215px;
    top: 24px;
    width: 145px;
    color: #000;
}
.web {
    color: #2196F3
}
.studia {
        width: 45px;
        left: 453px;
        color: #2196F3
}
.portfolio {
        width: 72px;
        left: 548px;    
        color: #212121;
}
.contacts {
        width: 64px;
        left: 670px; 
        color: #212121;
}
.navig>li>a {
    top: 32px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.portfolio:hover, .contacts:hover ,
.portfolio:focus , .contacts:focus {
    color: #2196F3;
} 
a, ul {
    list-style-type: none;
    text-decoration: none;
}
.communication>li>a {
    position:absolute;
    height: 16px;
    top: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #757575;
}
.communication>li>a:hover, .communication>li>a:focus {
    color: #2196F3;
}
[href^="mail"] {
    width: 135px;
    left: 1078px;
}
[href^="tel"] {
    width: 122px;
    left: 1263px;
}
 .your-bussines {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.your-bussines h1 {
    color: #fff;
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
[type="button"] {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        background: #2196F3;
        border: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        position: absolute;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
        color: #fff;
}



 
.section-warning {
    position: absolute;
        width: 1170px;
        height: 98px;
        left: 215px;
        top: 774px;
}





.section-work {
    position: absolute;
    height: 386px;
    left: 215px;
    top: 966px;
    width: 1170px;
}
.section-work h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;  
        color: #212121; 
}

.section-commands {
    position: absolute;
        width: 1600px;
        height: 648px;
        left: 0px;
        top: 1446px;
    
        background: #F5F4FA; 
}





.footer {
    position: absolute;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2094px;
    
        background: #2F303A;
         color: #fff;  
}  
