* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --animation-name:green
}
header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.your-bussines{
    position: absolute;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
    
        background: #2F303A;
}
.your-bussines h1 {
    color: #fff;
    position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

.section-warning {
    position: absolute;
        width: 1170px;
        height: 98px;
        left: 215px;
        top: 774px;
}





.section-work {
    position: absolute;
    height: 386px;
    left: 215px;
    top: 966px;
    width: 1170px;
}
.section-work h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;  
        color: #212121;
}

.section-commands {
    position: absolute;
        width: 1600px;
        height: 648px;
        left: 0px;
        top: 1446px;
    
        background: #F5F4FA;
}


[href^="mail"] {
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: absolute;
    color: #757575;
    font-style: normal;
}

[href^="tel"] { 
  
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: absolute;
    color: #757575;
    
}



.logo {
    font-weight: 400;
    Size: 26px
}
.web {
    color: #2196F3
}
.studio {
    color: #000;
}
a, ul {
    list-style-type: none;
    text-decoration: none;
}
[type="button"] {
    background: #2196F3;
    color: #fff;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
}
.footer {
    position: absolute;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2094px;
    
        background: #2F303A;
        color: #fff;
}
